
.aceptar,#btn-regresarViaje{
	background: var(--azulMarino);
}
.azul{
	background: var(--azul);
}
.correcto{
	background: var(--verde);
}

.obscuro{
	background: var(--obscuro);
}

.cancelar{
	background: var(--rojo);
}


.linkCancelar{
	color: var(--rojo);
}

button, input[type=submit], img, i{
	outline: none;
}