*{
	font-family: 'Questrial', 'Segoe UI',sans-serif;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#block-top{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 2em;
	background: var(--azulPrincipal);
}
#app{
	padding-top: 32%;
	padding-bottom: 5%; 
	color: var(--gris);
	padding-bottom: 20%;
}

#app h1{
	font-size: 3em;
	margin-bottom: 5%;
	font-family: 'Comfortaa', sans-serif; 
}

#app h3{
	font-weight: lighter;
	font-size: 1.2em;
	margin-top: 0;
	text-align: center;
	margin: 1em 0;
}
#span1{
	color: var(--azulCielo);
}

#span2{
	font-size: .7em;
}

#span3{
	color: var(--azulMarino2);
}

#btn-login{
	background: var(--azulMarino2);
}

#btn-register{
	background: var(--azulMarino);
}

