.menuDesplegable{
	position: fixed;
	right: 0;
	bottom: 4.5em;
	width: 100%;
	border: none;
	margin: 0;
	box-sizing: border-box;
}

@media (min-width: 990px){
	.menuDesplegable{
		width: 30%;
		right: 35%;
	}
}

.menuDesplegable a{
	margin-top: 0;
	box-sizing: border-box;
	padding: .8em;
	height: 3.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid rgba(0,0,0,.15);
	background: #F0F0F0;
	background:  #225A7B;
	color: #fff;
}

.menuDesplegable> .mostrar{
	opacity: 1;
	bottom: 4.5em;
	transition: .4s all;
}

.menuDesplegable> .esconder{
	bottom: -4.5em;
	opacity: 0;
	transition: .4s all;
}
