section{
	color: var(--gris2);
	width: 80%;
	margin-left: 10%;
	margin-bottom: 4em;
}

@media (min-width: 990px){
	section{
		width: 24%;
		margin-left: 38%;
	}
}

section label{
	color: var(--label);
}
section p, .estrellas{
	margin-top: .3em;
}

section label, section p{
	font-size: 1.1em;
}
section h2{
	padding: .3em;
	box-sizing: border-box;
	font-size: 1.2em;
	text-align: center;
	letter-spacing: .2px;
	border: none;
	border-radius: 5px;
	/*border-bottom: 2px solid rgba(0,0,0,.1);*/
	font-weight: lighter;
	background: var(--azulClaro);
	color: var(--blanco);
	/*color: var(--gris);*/
}


section .datosViaje{
	margin-bottom: 2em;
}

section button{
	margin-top: 0;
	margin-bottom: 1em;
	outline: none;
}


.estrellas i{
	margin: .2em;
	font-size: 1.3em;
	color: var(--estrella);
	cursor: pointer;
	outline: none;
}
