.contenedor{
	margin: 0;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.contenedor button{
	margin-bottom: 5em;
}

#imagen{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
}