body{
	color: var(--gris2);
}
.viajes{
	width: 80%;
	margin-left: 10%;
	/*color: #4F79D2;*/
	float: left;
	font-size: .9em;
	margin-bottom: 3em;
}

.viaje{
	float: left;
	border-radius: 5px;
	border-bottom: 2px solid rgba(0,0,0,.1);
	margin-bottom: 1em;
	padding-bottom: 5px;
}

.datos{
	float: left;
	width: 90%;
}

.dato{
	width: 100%;
	float: left;
	font-size: 1.1em;
}
.dato label{
	float: left;
}
.dato p{
	margin-top: 0;
	float: left;
	margin-left:1em;
	margin-bottom: 5px;
}

.dato> .ruta{
	float: left;
	margin-bottom: 2em;
	margin-left: 1em;
	margin-bottom: 5px;
	width: 75%;
}

.ruta p{
	margin-left: 0;
}

.viajes label{	
	color: var(--labelAzul);
}

.viaje i{
	font-size: 1.9em;
	cursor: pointer;
	outline: none;
	color: var(--azulMarino);
	float: right;
	margin-bottom: .6em;
}


.buscador{
	width: 80%;
	margin-left: 10%;
	margin-top: 0;
	margin-bottom: 2em;
	box-sizing: border-box;
}

.buscador p{
	text-align: center;
}

.buscar{
	border: 1px solid rgba(0,0,0,.08);
	background: rgba(0,0,0,.045);
	border-radius: 5px;
}

.buscador input[type="date"]{
	width: 80%;
	margin-left: 10%;
	margin-top: .7em;
	border-radius: 5px;
	height: 2.5em;
	border: 1px solid rgba(0,0,0,.2);
	font-size: 1em;
	background: rgba(255,255,255,.9);
	font-family: var(--fuente);
	box-sizing: border-box;
	padding: 5px;
	color: var(--gris2);
	text-align: center;
	outline: none;
}

.buscador button{
	margin-bottom: .8em;
}

