.datosSalida{
	width: 60%;
	margin-left:28%;
	margin-top: 0;
	font-size: 1.1em;
}
.dato p{
	color: var(--gris2);
}
.dato label{
	margin-right: 5px;
	float: left;
	color: var(--label);
	text-align: center;
}

.contenedor img{
	width: 50%;
}

@media (min-width: 550px){
	.contenedor img{
		width: 13%;
	}

	.datosSalida{
		width: 30%;
		margin-left: 44%;
	}
}