.datosSalida{
	width: 60%;
	margin-left:28%;
	margin-bottom: 1em;
	margin-top: 0;
	font-size: 1.1em;

}
.dato p{
	color: var(--gris2);
}
.dato label{
	margin-right: 5px;
	float: left;
	color: var(--label);
	text-align: center;
}
